.movie{

  &-list{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 10%;
  }

  &-container{
    margin: 1%;
    width: 185px;
    text-decoration: none;
    color: black;
    

    img{
      box-shadow: 6px 6px 6px #403d3d;
    }
  }

  &-detail{
    background-color: rgb(232, 226, 226);
    height: 100%;

    &-wrapper{
      width: 1080px;
      margin: 0 auto;
      display: block;
    }

    &-backdrop-image{
      width: 1080px;
      margin: 0 auto;
      display: block;
    }

    &-title-score{
      color: #fff;
      backdrop-filter: blur(10px);
      width: inherit;
      font-size: 3.5em;
      position: absolute;
      bottom: 1.5em;
      padding: 1em 1em;
      display: flex;
      justify-content: space-between;
    }

    &-description{
      height: 500px;
      margin-top: 20px;
      background-color: rgb(245, 238, 238)
    }

    &-title{
      max-width: 11em;
    }

    &-score{
      font-size: 0.5em;
      background-color: white;
      border-radius: 5px;
      height: fit-content;
      padding: 5px;

      &.good{
        background-color: green;
      }

      &.avarage{
        background-color: rgb(255, 255, 0);
      }

      &.bad{
        background-color: rgb(255, 0, 0);
      }
    }
  }
  
}

img{
  width: auto;
  height: auto;
}



.black-banner{
  width: 100%;
  background-color: black;
  height: 100px;
}